# Переменные окружения
.env
.env.*

# Виртуальное окружение
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/
*.log

# PostgreSQL локальный кластер
.pgdata/

# macOS / IDE
.DS_Store
.idea/
.vscode/

# Исходники Tilda (не нужны)
page*.html
css/
js/
files/
images/
Logo.png
Снимок*.png